<!DOCTYPE html>
<html>
<head>
  <title>Coinage</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="top-bar">
		<% if user_signed_in? %>		
			<span><%= t(:compliment) %>, <strong><%= link_to current_user.first_name, edit_user_registration_path %></strong>!</span>
			<%= link_to t(:logout), destroy_user_session_path, method: :delete %>
		<% else %>
			<%= link_to t(:signup), new_user_registration_path %> |
			<%= link_to t(:login), new_user_session_path %>
		<% end %>
	</div>
	<div class="notice">
		<% if notice %>  
			<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert alert-danger"><%= alert %></p>
		<% end %>
	</div>
	<div class="top-nav">
		<% if user_signed_in? %>
			<%= link_to t(:accounts), accounts_path %>
			<%= link_to t(:categories), categories_path %>
		<% end %>
	</div>
	<%= yield %>
</body>
</html>
