<h1><%= t(:accounts) %></h1>

<% @accounts.each do |account| %>
  <ul>
    <li>
	  <%= link_to account.name, account %> | <%= link_to t(:edit), edit_account_path(account) %> <%= link_to t(:destroy), account, method: :delete, data: { confirm: t(:destroy_confirm) } %>
    </li>
  </ul>
<% end %>

<%= link_to t(:new_account), new_account_path %>
