<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>
<p>
  <strong>Start Value:</strong>
  @currency <%= @account.start_value %>
</p>
<p>
  <strong>Funds:</strong>
  @currency <%= @account.funds %>
</p>

<h2>Transactions</h2>

<ul>
  <% @increment = 0 %>
  <%= render @account.operations %>
</ul>

+ <%= link_to 'Add Transaction', new_account_operation_path(@account) %> @tem um br/ aqui<br/>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
