<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>
<p>
  <strong>Start Value:</strong>
  @currency <%= @account.start_value %>
</p>
<p>
  <strong>Funds:</strong>
  @currency <%= @account.funds %>
</p>

<h2>Transactions</h2>
@isso tem que virar ul li
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <% @increment = 0 %>
  <tbody>
		<%= render @account.operations %>
  </tbody>
</table>

+ <%= link_to 'Add Transaction', new_account_operation_path(@account) %> @tem um br/ aqui<br/>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
