<li>
	<%= operation.name %> :	@currency <%= operation.value %> | <%= link_to t(:edit), edit_account_operation_path(@account, operation.id) %>
</li>

<% @increment += operation.value %>
<%= t(:balance) %>: @currency <%= @account.start_value + @increment  %>
