<h1><%= @account.name %><h1>
<h2><%= t(:operations) %></h2>

<% @operations.each do |operation| %>
  <%= operation.name %>
  <%= operation.value %>
  <%= link_to t(:show), account_operation_path(@account, operation) %>
<% end %>

<br>

<%= link_to t(:new_operation), new_account_operation_path %>
