<p id="notice"><%= notice %></p>

<p>
  <strong><%= t(:operation_name) %></strong>
  <%= @operation.name %>
</p>

<p>
  <strong><%= t(:operation_value) %></strong>
  <%= @operation.value %>
</p>

<%= link_to t(:edit), edit_account_operation_path(@account, @operation) %> |
<%= link_to t(:back), account_operations_path %>
